/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: var(--text-dark);
}
.list {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
/* Variables */
:root {
  --bg-light-primary: #f6f4e8;
  --bg-light-secondary: #dddddd;
  --bg-dark-primary: #0f0e0e;
  --bg-dark-secondary: #151515;
  --text-white: #f0f0f0;
  --text-dark: #18122b;
  --grid-gap: 2.7rem;
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem;
  background-color: var(--bg-light-primary);
}

.nav__list {
  width: 100%;
}
.logo {
  font-weight: 700;
  font-size: 2.5rem;
}
.nav__expand {
  display: none;
}
.list__item {
  border-bottom: 1px solid #999;
  padding: 1rem 0.2rem;
}
/* Navigation bar Dark Mode */
.dark-mode .nav {
  background-color: var(--bg-dark-primary);
  color: var(--text-white);
}

.dark-mode .nav__toggler {
  fill: var(--text-white);
}

.nav__darkmode-toggler {
  display: flex;
}

.checkbox {
  opacity: 0;
  position: absolute;
  display: inline;
}

.checkbox-label {
  background-color: #3a3a3a;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

@media screen and (min-width: 768px) {
  .nav {
    flex-wrap: nowrap;
    padding: 0.5rem 5rem;
    border-bottom: 3px solid tomato;
  }
  .nav__list {
    width: auto;
  }
  .list__item {
    border-bottom: none;
    padding: 0.5rem 0.2rem;
    transition: color 0.2s linear;
  }
  .list__item:hover {
    /* border-bottom: 2px solid tomato; */
    color: #999;
  }

  .nav__expand {
    display: flex;
  }
  .list__item {
    margin-left: 3rem;
    font-weight: 500;
  }
  .list__item:first-child {
    margin-left: 0;
  }
  .nav__toggler {
    display: none;
  }
  .active {
    border-bottom: 3px solid tomato;
    padding-bottom: 1rem;
  }
}


/* container */

.container {
  padding: 1rem 1rem;
  background-color: var(--bg-light-secondary);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--grid-gap);
}

.grid-container img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 3px 3px 10px var(--bg-dark-primary);
}

@media screen and (min-width: 500px) {
  .container {
    padding: 2rem 2rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
    .container {
        padding: 3rem 3rem;
      }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

/* main container Dark Mode */
.dark-mode .container {
  background-color: var(--bg-dark-secondary);
}
.grid-item {
  position: relative;
}
.fullscreen-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 40px;
    height: 40px;
    z-index: 100;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.grid-item:hover .overlay {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all .2s linear;
}
.fullscreen.grid-item:hover .overlay {
    background-color: red;
    opacity: 0;
    z-index: -2;
}

.dark-mode .grid-item:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.darkmode-label {
  font-size: 1.5rem;
  margin: .2rem 0 0 .5rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: inherit;
}
.overlay h3 {
    font-family: "Pacifico", cursive;
    text-align: center;
    color: #393646;
    white-space: nowrap;
}
.fullscreen {
    width: 100%;
    height: 95
}

@media screen and (max-width:768px) {
    .overlay h3 {
        font-size: 1.7rem;
    }
    
}
.dark-mode .overlay h3 {
    color: #6C9BCF;
 
}
.btn {
    font-size: 1.7rem;
    padding: .7rem .9rem;
    border:2px solid #4F4557;
    color: #4F4557;
    white-space:nowrap;
    border-radius: 15px;
    transition: all .2s linear;
}
.dark-mode .btn {
    border: 2px solid #6C9BCF;
    color:#6C9BCF;
    
}
.btn:first-child {
    margin-right: .5rem;
}
.btn:hover {
    color: #6D5D6E;
    border:2px solid #6D5D6E;

}
.dark-mode .btn:hover {
    color: #EBD8B2;
    border-color: #EBD8B2;
}

/* footer */

.footer {
 
  padding: 1rem 0;
  background-color: var(--bg-light-primary);
  border-top: 2px solid tomato;
}

.dark-mode .footer {
  background-color: var(--bg-dark-primary);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .page {
  width: 40px;
  height: 40px;
  padding: .5rem;
  background: tomato;
  border-radius: 50%;
  margin-left: 1rem;
  text-align: center;
}
.page-link {
  color: var(--text-white);

}
@media screen and (max-width:768px) {
  .footer {
    padding: .5rem 0;
  }
  .page {
    width: 35px;
    height: 35px;
    font-size: 1.7rem;
  }
  
}

/* Top Page navigator */

.top-page {
  position: fixed;
  z-index: 100;
  top: 40vh;
  right: 5vh;
}
.top-page-icon {
  width: 40px;
  height: 40px;
  fill: var(--text-dark);
  font-weight: bold;
}
.active-page {
  background-color: var(--text-dark);
  color: #fff;
}

