@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  background: #c0c0c0;
  font-family: Raleway, sans-serif;
  color: #666;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.form {
  margin: 10% auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}
.form input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
  border: 1px solid #c0c0c0;
  transition: 0.2s;
}

.form input[type="text"]:hover {
  border-color: #f44336;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.form input[type="submit"] {
  border: none;
  background: #ef5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
}

.form input[type="submit"]:hover {
  background: #f44336;
}

.form h2 {
  margin: 20px 0 0;
  color: #ef5350;
  font-size: 28px;
}

.form p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.form h2,
.form p {
  text-align: center;
}

.form a {
  text-decoration: none;
  font-size: 0.8em;
}

.form a:visited {
  color: inherit;
}

.form a:hover {
  text-decoration: underline;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
